{
    "graphite": {
        "host": "OUR_HOST",
        "auth": "THE_AUTH",
        "annotationScreenshot": true
    },
    "slack": {
        "hookUrl": "https://hooks.slack.com/services/THE/SECRET/S"
    },
    "resultBaseURL": "https://s3.amazonaws.com/results.sitespeed.io",
    "s3": {
        "key": "S3_KEY",
        "secret": "S3_SECRET",
        "bucketname": "BUCKET_NAME",
        "removeLocalResult": true
    },
    "browsertime": {
        "wikipedia": {
            "user": "username",
            "password": "password"
        }
    }
}